# Copy from .env.local on the Vercel dashboard
psql "postgres://default:O4JieP8gzMRd@ep-orange-wildflower-a483b05o.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgres://default:O4JieP8gzMRd@ep-orange-wildflower-a483b05o-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:O4JieP8gzMRd@ep-orange-wildflower-a483b05o-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:O4JieP8gzMRd@ep-orange-wildflower-a483b05o-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:O4JieP8gzMRd@ep-orange-wildflower-a483b05o.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-orange-wildflower-a483b05o-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="O4JieP8gzMRd"
POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth